.big-button{
    display:grid;
    margin-top: 50px;
    margin-right: 10%;
    margin-left: 10%;
    background-color: royalblue;
    text-align: center;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
}
.big-button h2{
    color: white;
    margin: 0px;
    padding: 10px;
}
.big-button :hover{
    background-color: skyblue;
    color: white;
    border-radius: 15px;
}
.big-button a{
    color: blue;
    text-decoration: none;
}

.destination-selector{
    display: grid;
    margin:10px 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    border: 2px solid lightblue;
    background-color: lightblue;
}
.destination-selector :hover{
    text-decoration: none;
    background-color: lightgoldenrodyellow;
}
.destination-item{
    background-color: white;
    display: flex;
    margin: 0px;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
}

.container h3{
    color:black;
}